<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Login</title>
</head>
<body>
<div th:fragment="content">
    <form name="form-register" th:action="@{/register}" method="post">
        <fieldset>
            <legend>Please Register</legend>
            <div th:if="${param.error}" class="alert alert-error">
                User name already taken.
            </div>
            <div th:if="${param.mismatch}" class="alert alert-success">
                Passwords does not match.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/><br>
            <label for="password-repeat">Repeat Password</label>
            <input type="password" id="password-repeat" name="password"/><br>
            <div class="form-actions">
                <button type="submit" class="btn">Register</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>